.Categories {
  //min-height: calc(100vh - 100px);
  background-color: #aaaaaa;
  min-width: 320px;
  padding-top: 15px;
  .title {
    font-size: 24px;
    font-weight: 600;
    min-width: 190px;
    text-align: center;
    line-height: 1.22222em;
  }
  .body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 20px;
  }
  .arr {
    max-width: 100%;
    margin-bottom: 20px;
    &_title {
      color: #5b3916;

      font-family: Circe, Arial, sans-serif;
      font-weight: 600;
      margin-bottom: 10px;
      font-size: 1.5em;

      cursor: pointer;
    }
    &_body {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    &_link {
      text-decoration: none;
      color: unset;
    }
    &_block {
      margin-right: 10px;
      margin-bottom: 10px;
      width: 200px;
      height: 340px;
      box-shadow: inset 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
        inset -8px -8px 12px 0 rgba(255, 255, 255, 0.3);

      overflow: hidden;
      &_image {
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        max-height: 90%;
      }
      &_legend {
        padding: 10px;

        &_articular {
          -webkit-user-select: contain;
          -ms-user-select: contain;
          user-select: contain;
          color: #292929;
          font-weight: 400;
          font-size: 0.8em;
        }
        &_price {
          padding-top: 10px;

          span {
            font-family: Circe, Arial, sans-serif;
            font-weight: 400;
            font-size: 1.2em;
          }
        }

        &_description {
          padding-top: 10px;

          font-size: 13px;
          line-height: 19px;
          overflow: hidden;
          height: 60px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .Categories {
    //min-height: 100vh;
    padding-top: 0px;
  }
}
@media (max-width: 477px) {
  .arr_body {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }
  .body {
    margin: 0 10px !important;
  }
  .arr_block {
    width: 45vw !important;
    min-width: 140px;
  }
}

$easing: cubic-bezier(0.25, 1.7, 0.35, 0.8);
$duration: 0.5s;

.arrow_icon {
  display: inline;
  height: 1.8em;
  width: 1.8em;
  padding: 0.5em;
  margin: 1em auto;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
}

.left_bar {
  position: absolute;
  background-color: transparent;
  top: 25px;

  left: 7px;
  width: 10px;
  height: 3px;
  display: block;
  transform: rotate(40deg);
  float: right;
  border-radius: 2px;
  &:after {
    content: "";
    background-color: #6b3804;
    width: 10px;
    height: 3px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all $duration $easing;
    z-index: -1;
  }
}

.right_bar {
  position: absolute;
  background-color: transparent;
  top: 25px;

  left: 14px;
  width: 10px;
  height: 3px;
  display: block;
  transform: rotate(-40deg);
  float: right;
  border-radius: 2px;
  &:after {
    content: "";
    background-color: #6b3804;

    width: 10px;
    height: 3px;
    display: block;
    float: right;
    border-radius: 10px 6px 6px 10px;
    transition: all $duration $easing;
    z-index: -1;
  }
}

.open {
  .left_bar:after {
    transform-origin: center center;
    transform: rotate(-80deg);
  }
  .right_bar:after {
    transform-origin: center center;
    transform: rotate(80deg);
  }
}
