.Cart {
  position: fixed;
  right: 20px;

  background-color: green;
  border-radius: 50%;
  opacity: 0.4;
  cursor: pointer;
  z-index: 1000;

  .button {
    position: relative;
    width: 60px;
    height: 60px;
    text-align: center;
    color: #ffffff;
  }
  .counter {
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: red;
    border-radius: 50%;
  }
  &:hover,
  &:active {
    opacity: 1;
  }
}
.CartModalWrapper {
  top: 0px;
  left: 0px;
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1002;
}
.CartModal {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  min-height: 90vh;

  background-color: #ffffff;
  border-radius: 10px;
  max-height: 100vh;

  .header {
    margin: 20px;
    font-size: 30px;
  }

  .content {
    border: #000000 1px;
    //height: 700vh;
    padding: 0 10px;

    .cartPosition {
      margin-bottom: 5px;
      padding: 10px;
      width: calc(100% - 20px);
      min-height: 150px;
      border: 2px solid #aaaaaa;
      border-radius: 5px;
      position: relative;
      display: flex;
      justify-content: space-around;
      .imgWrapper {
        width: 150px;
        justify-content: center;
      }
      .posCounter {
        div {
          cursor: pointer;
          display: inline-block;
          width: 30px;
          border: 1px solid black;
          margin: 0 5px;
          border-radius: 5px;
          line-height: 30px;
          text-align: center;
          vertical-align: middle;
        }
        line-height: 30px;
        font-size: 35px;
        input {
          height: 30px;
          width: 40px;
          font-size: 25px;
          text-align: center;
          border-radius: 10px;
          //cursor: default;
        }
      }
      .delCartPosition {
        cursor: pointer;
        position: absolute;
        border-radius: 5px;

        left: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        background-color: #61dafb;
      }
    }
  }
  .footer {
    height: 200px;
    padding: 10px;
    float: right;
    span {
      float: right;
    }
    .sum {
      font-size: 20px;
      margin: 10px 0;
      font-weight: 600;
    }
    .makeDeal {
      box-shadow: -8px -8px 8px 0 rgba(255, 255, 255, 0.3),
        8px 8px 12px 0 rgba(0, 0, 0, 0.25);
      background-color: green;

      color: white;
      font-size: 20px;
      height: 40px;
      line-height: 40px;
      border: 1px solid black;
      border-radius: 5px;
      width: 200px;
      text-align: center;
      &:active {
        box-shadow: inset -8px -8px 8px 0 rgba(255, 255, 255, 0.3),
          inset 8px 8px 12px 0 rgba(0, 0, 0, 0.25);
      }
    }
  }
  .closeBtn {
    float: right;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: green;
    cursor: pointer;
  }

  transition: height 1s, width 1s, transform 1s;
}

@media (max-width: 767px) {
  .Cart {
    top: 20px;
  }
  .CartModal {
    width: 100vw;
    height: 100vh;
    -webkit-animation: animate linear 0.5s;
    -o-animation: animate linear 0.5s;
    animation: animate linear 0.5s;

    .cartPosition {
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
      height: 300px;
      div {
        display: flex;
        justify-content: center;
      }
      .imgWrapper {
        img {
          height: 150px;
        }
      }
    }

    @keyframes animate {
      0% {
        width: 0px;
      }
      100% {
        width: 100vw;
      }
    }
  }
}

@media (min-width: 766px) {
  .Cart {
    bottom: 110px;
  }
  .CartModal {
    width: 90vw;

    -webkit-animation: animate linear 0.5s;
    -o-animation: animate linear 0.5s;
    animation: animate linear 0.5s;

    .cartPosition {
      div {
        font-size: 30px;
        display: flex;
        align-items: center;
      }
      .imgWrapper {
        img {
          height: 150px;
        }
      }
    }
  }

  @keyframes animate {
    0% {
      width: 0px;
    }
    100% {
      width: 90vw;
    }
  }
}
